.header.sticky {
  position: sticky;
  top:0;
  background: purple;
  height: 140px;
  opacity: 0.8;
}

.header.title {
  text-align: center;
  color: white;
  margin: 0;
  line-height: 50px;
}

.header.description {
  text-align: center;
  color: white;
  line-height: 25px;
}

.header.info {
  color: white;
  text-align: center;
}

.header.info.title {
  line-height: 25px;
  text-decoration: underline;
}

.header.info.debug {
  line-height: 35px;
}

section {
  display: flex;
  flex-direction: column;
  zoom: 0.8;  
}

section article {
  flex: 1;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
}

section article div {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}